* {
  margin: 0%;
  padding: 0%;
}
.container {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  padding: 2rem;
  border-radius: 15px;
  background-color: #f2efee;
  width: 25%;
  box-shadow: 8px 8px 2px rgba(79, 69, 65, 0.2);
}
.login input {
  width: 80%;
  height: 4vh;
  outline: none;
  border: none;
  border-radius: 20px;
  background: #fff;
  box-shadow: 3px 3px 2px rgba(79, 69, 65, 0.2);
  padding-left: 0.6rem;
}
.email {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pass {
  margin-bottom: 10px;
}
.enter {
  width: 100%;
  height: 3vh;
}
#text {
  color: #f38e82;
  font-size: 2rem;
}
.buttons {
  margin-top: 13px;
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.signin {
  color: #fff;
  background: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 15rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
.signup {
  color: #fff;
  background: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 15rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
.forget {
  color: blue;
  background: transparent;
  border: none;
  border-bottom: 1px solid blue;
  cursor: pointer;
  font-size: 1rem;
}
.for {
  width: 80%;
  display: flex;
  justify-content: center;
}
